colors {
    --nyanza: #d8f3dcff;
    --turquoise-green: #b7e4c7ff;
    --turquoise-green-2: #95d5b2ff;
    --ocean-green: #74c69dff;
    --ocean-green-2: #52b788ff;
    --illuminating-emerald: #40916cff;
    --bottle-green: #2d6a4fff;
    --brunswick-green: #1b4332ff;
    --dark-jungle-green: #081c15ff;
}

#about-us {
    width: 100%;
    padding: 50px;
    border-bottom: 5px dashed rgba(255, 255, 255, 0.486);
}
#about-us > div {
    font-size: 1.3em;
    width: 80%;
    color: rgb(255, 255, 255);
}
#about-us > div > h3 {
    width: fit-content;
    margin-bottom: 20px;
    padding: 3px;
    color: white;
    text-shadow: 3px 3px #1b4332ff;
    text-transform: uppercase;
}

.read-more {
    color: #2d6a4f;
}
.read-more > img {
    width: 15px;
}

/* Section Spotlight + searching */
#spotlight-search {
    margin: 100px 50px;
    display: flex;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
}

#spotlight-left {
    flex: 1;
    margin-bottom: 100px;
}
#spotlight-left > img {
    border: 1px dashed black;
    min-width: 200px;
    min-height: 200px;
}

#search-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#navigation_links > ul {
    display: flex;
    margin-top: 15px;
    margin-bottom: 100px;
}
#navigation_links > ul > li {
    margin-right: 10px;
}
#navigation_links > ul > li > a {
    color: #2d6a4fff;
    font-size: 30px;
    text-shadow: 1px 1px white;
    transition: all 1s ease-out;
}
#navigation_links > ul > li > a:hover {
    color: white;
    transition: all 0s linear;
}
#search-btns {
    display: flex;
    overflow: hidden;
    height: 250px;
}
.search-btn {
    width: 220px;
    text-align: center;
    margin: 5px;
    padding: 10px 20px;
    border: #1b4332ff solid 2px;
    box-shadow: 3px 3px 2px #40916cff;
    overflow: hidden;
    max-height: 60px;
    transition: all 0.5s ease-in-out;
    background-color: #2d6a4fff;
  }
  .search-btn:hover {
    max-height: 500px;
}
.search-btn > img {
    margin-top: 30px;
}
