<head>
    <script src="js/global js/footer.js"></script>
</head>

<footer id="footer">
    <img id="footer-bkg" src="images/header_footer/footer-bg-colored.png" alt="background">
    <div>
        <a href="http://www.aub.edu.lb/main/aub_files/Pages/copyright.aspx" target="_blank">
            &copy; Copyright
        </a>
        <a href="/Pages/Citing">
            Citing the plant Database
        </a>
        <a href="/Pages/Acknowledgments">
            Acknowledgments
        </a>
        <a href="/ContactUs">
            Contact Us
        </a>
    </div>
</footer>