<head>
    <link rel="stylesheet" href="css/global styles/header-footer.css">
</head>


<header id="header">
    <a id="logo" href="/">
        <img src="images/header_footer/AUB logo.png" alt="AUB Logo">
        <p>Landscape Design & Ecosystem Management</p>
        <p>Faculty of Agriculture & Food Sciences</p>
    </a>
    <div id="nav-container">
        <h1>AUB Landscape Plant Database</h1>
        <nav id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="#">Useful Links</a></li>
            <li><a href="#">Image Gallery</a></li>
            <li><a href="#">Popular Plant Categories</a></li>
            <li><a href="#">Glossary</a></li>
            <li><a href="#">Contact Us</a></li>
        </nav>
    </div>
</header>