#navigation_links>ul {
    display: flex;
    margin-top: 15px;
    margin-bottom: 30px;
}

#navigation_links>ul>li {
    margin-right: 10px;
}

#navigation_links>ul>li>a {
    color: #2d6a4fff;
    font-size: 30px;
    text-shadow: 1px 1px 1px #2d6a4fff;
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
}

#navigation_links>ul>li>a:hover {
    color: white;
    transition: all 0s linear;
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -ms-transition: all 0s linear;
    -o-transition: all 0s linear;
}