#useful-links {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 60px 30px;
}

.link-box li {
    margin-top: 4px
}

.link-box a {
    color: #2d6a4fff;
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
}

.link-box a:hover{
    color: #2d6a4fff;
    text-shadow: 1px 1px 1px #2d6a4fff;
    cursor: pointer;
    transition: all 0s linear;
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -ms-transition: all 0s linear;
    -o-transition: all 0s linear;
}
