<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>

    <%- include("./partials/header.ejs") %>

    <h1 style="font-size:50px; background-color:#40916cff ; color: white; text-align:center; font-weight:bold">
        About us</h1>


        <p style="margin-top: 100px; font-size: xx-large;"> 
            The Department of landscape design and ecosystem management has developed this plant database site in line with the department’s ecological orientation thus the database is focusing on native, naturalized,
             and ecologically suitable plant species for the middle east region.
             The user will be able to identify plants found the database or search by name. The search by criteria is allowing the users to search the database to find trees, shrubs and vines for specific landscape situations and or local conditions.
            After following the completion of the project, the department regularly updates of the database and increase the number of inputted information 
            to cover all landscape plants ecologically suitable for the region.
        </p>

        <p style="margin-top: 50px; font-size: xx-large; text-align: center;">  
            
            <ul style="text-align: center;">
                <li class="name"> Jamal Al-Khatib</li>
                <li class="name"> Ali Chehab</li>
                <li class="name"> Marwan Bassam</li>
            </ul>
        </p>

        <%- include("./partials/footer.ejs") %>
    
</body>
</html>

<style>
    .name{
        font-size: 60px;
        font-weight: bold;
        color: #40916cff;
        text-align: center;
    }
</style>