<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUB Landscape - Add Plant</title>
    <link rel="icon" href="favicon.png" type="image/png">
    <link rel="stylesheet" href="css/global styles/search-buttons.css">
    <link rel="stylesheet" href="css/plant_profile/plant-profile.css">
    <script src="js/plant_profile/plant_profile.js"></script>
</head>

<body>
    <%- include("./partials/header.ejs") %>

        <h1 style="font-size:xx-large; background-color:#40916cff ; color: white; text-align:center; font-weight:bold">
            Create a new Plant</h1>

            <form method="POST" action="/add_plant" enctype="multipart/form-data">

            <main>
    
                <div id="profile-container">
                    <h3>Plant Info</h3>
    
                    <label> Plant Name</label>
                    <input id="name" name="name" required>  

                    <label>Scientific Name </label>
                    <input id="scientific_name" name="scientific_name" required>
    
                    <label> Description</label>
                    <textarea id="description" name="description" required></textarea>


                    <input type="file" name="image" required>
                    <br> <br>
                    <div id="tabs-container">
                        <button class="tab selected-tab" value="1">Landscape Information</button>
                        <button class="tab" value="2">Botanical Description</button>
                        <button class="tab" value="3">Horticulture Management</button>
                    </div>
    
                    
                    <div id="plant-content">
                       
                        <div id="plant-tab">
                            <div id="plant-tab-landscape">
                                <p class="label"><label class="feature">French Name:  </label>  <input id="french_name" name="french_name" required></p>
                                <p class="label"><label class="feature">Pronounciation: </label> <input id="pronounciation" name="pronounciation"required> </p>
                               
                                <p class="label"><label class="feature"> Plant Type:</label> <input id="pronounciation"name="type"required></p>
                                <p class="label"><label class="feature">Origin: </label> <input id="origin"name="origin"required></p>
                                <p class="label"><label class="feature">Heat Zones: </label> <input id="heat"name="heat"required></p>
                                <p class="label"><label class="feature">Hardiness Zones: </label> <input id="hardiness"name="hardiness"required></p>
                                <p class="label"><label class="feature">Uses: </label> <input id="uses"name="uses"required></p>
                                <p class="label"><label class="feature">Growth Rate: </label> <input id="growth_rate"name="growth_rate"required></p>
                                <p class="label"><label class="feature">Tree Shape: </label> <input id="tree_shape"name="tree_shape"required></p>
                                <p class="label"><label class="feature">Canopy Texture: </label> <input id="canopy"name="canopy"required></p>
                                <p class="label"><label class="feature">Height at Maturity: </label><input id="height" name="height"required>
                                </p>
                                <p class="label"> <label class="feature">Spread at Maturity: </label> <input id="spread" name="spread" required>
                                </p>
                            </div>
                            <div id="plant-tab-botanical">
                                
                                <p class="label"><label class="feature"> Leaf Arrangement: </label> <input id="Leaf_Arrangement" name="Leaf_Arrangement" required></p>
                                <p class="label"><label class="feature"> Leaf Venation: </label>  <input id="Leaf_Venation"name="Leaf_Venation"required></p>
                                <p class="label"><label class="feature"> Leaf Persistance: </label>  <input id="Leaf_Persistance"name="Leaf_Persistance"required></p>
                                <p class="label"><label class="feature"> Leaf Type: </label>  <input id="Leaf_Type"name="Leaf_Type"required></p>
                                <p class="label"><label class="feature">  Leaf Blade:</label>  <input id="Leaf_Blade"name="Leaf_Blade"required></p>
                                <p class="label"><label class="feature">  Leaf Shape:</label> <input id="Leaf_Shape"name="Leaf_Shape"required> </p>
                                <p class="label"><label class="feature">  Leaf Margins:</label>  <input id="Leaf_Margins"name="Leaf_Margins"required></p>
                                <p class="label"><label class="feature">Leaf Texture:  </label>  <input id="Leaf_Texture"name="Leaf_Texture"required></p>
                                <p class="label"><label class="feature"> Leaf Scent: </label>  <input id="Leaf_Scent"name="Leaf_Scent"required> </p>
                                <p class="label"><label class="feature"> Color (growing season): </label>   <input id="color_growing_season"name="color_growing_season"required></p>
                                <p class="label"><label class="feature"> Color (changing season): </label>   <input id="color_changing_season"name="color_changing_season"required>
                                        </p>
                               
                               
                                <p class="label"><label class="feature"> Flower Showiness: </label>  <input id="Flower_Showiness"name="Flower_Showiness"required></p>
                                <p class="label"><label class="feature">  Flower Size Range:</label>  <input id="Flower_Size"name="Flower_Size"required>
                                </p>
                                <p class="label"><label class="feature">Flower Type:   </label> <input id="Flower_Type"name="Flower_Type"required></p>
                                <p class="label"><label class="feature"> Flower Scent: </label> <input id="Flower_Scent"name="Flower_Scent"required> </p>
                                <p class="label"><label class="feature"> Flower Color:  </label> <input id="Flower_Color"name="Flower_Color"required></p>
                                <p class="label"><label class="feature">Seasons:  </label> <input id="seasons"name="seasons"required> </p>
                                
                               
                                <p class="label"><label class="feature"> Fruit Type: </label> <input id="Fruit_Type"name="Fruit_Type"required> </p>
                                <p class="label"><label class="feature">Fruit Showiness: </label>  <input id="Fruit_Showiness"name="Fruit_Showiness"required></p>
                                <p class="label"><label class="feature"> Fruit Size Range: </label>  <input id="Fruit_Size"name="Fruit_Size"required></p>
                                <p class="label"><label class="feature">Fruit Color: </label> <input id="Fruit_Color"name="Fruit_Color"required> </p>
                            </div>
                            <div id="plant-tab-horticulture">
                                <p class="label"><label class="feature">Heat Tolerance: </label>  <input id="Heat_Tolerance"name="Heat_Tolerance"required></p>
                                <p class="label"><label class="feature"> Drought Tolerance: </label>  <input id="Drought_Tolerance"name="Drought_Tolerance" required>
                                </p>
                                <p class="label"><label class="feature">Salt Tolerance: </label>  <input id="Salt_Tolerance"name="Salt_Tolerance" required></p>
                               
                                <p class="label"><label class="feature">  Soil Requirements:</label>  <input id="Soil_Requirements"name="Soil_Requirements" required>
                                </p>
                                <p class="label"><label class="feature">Soil Ph Requirements: </label>  <input id="Soil_Ph_Requirements"name="Soil_Ph_Requirements" required>
                                      </p>
                                <p class="label"><label class="feature"> Water Requirements: </label> <input id="Water_Requirements"name="Water_Requirements"required>
                                       
                                </p>
                                <p class="label"><label class="feature"> Light Requirements:</label>  <input id="Light_Requirements" name="Light_Requirements"required>
                                       
                                </p>
                                
                                <p class="label"><label class="feature"> Invasive Potential:</label>  <input id="Invasive_Potential" name="Invasive_Potential"required>
                                </p>
                                <p class="label"><label class="feature"> Prunning Requirements: </label>  <input id="Prunning_Requirements" name="Prunning_Requirements"required></p>
                                <p class="label"><label class="feature">   Edible Parts:</label> <input id="Edible_Parts" name="Edible_Parts"required></p>
                                <p class="label"><label class="feature"> Plant Propagation: </label>  <input id="Plant_Propagation" name="Plant_Propagation"required>
                                </p>
                            </div>
                        </div>
                    </div> 
    
            </main>

        <!-- <input type="submit" style="background-color: #40916cff; margin-left: 80%; margin-bottom: 1%; height: 100px; width: 200px;" > -->

        <button type="submit"  style="background-color: #40916cff; margin-left: 80%; margin-bottom: 1%; height: 100px; width: 200px;" > Submit</button>
       
        </form>

        <%- include("./partials/footer.ejs") %>
</body>

</html>

<style>
    p,label{
        font-size: larger;
        margin-bottom: 10px;
    }
    input,textarea
    {
        font-size: larger;
    }
    input
    {
        margin-left: 50px;
    }

    .feature{
        display: inline-block ; 
        width: 500px;
        text-align: right;
    }
    
</style>