<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUB Landscape - Options</title>
    <link rel="icon" href="favicon.png" type="image/png">
    <link rel="stylesheet" href="css/admin_options/admin_options.css">
</head>

<body>

    <%- include("./partials/header.ejs") %>

        <section id="options-container">
            <a href="/add_plant">
                <div class="option">
                    Add a new plant
                </div>
            </a>

            <a href="/edit_plant">
                <div class="option">
                    Edit a plant
                </div>
            </a>

            <a href="/delete_plant">
                <div class="option">
                    Delete a plant
                </div>
            </a>

            <a href="/view_messages">
                <div class="option">
                    Reply to messages
                </div>
            </a>
        </section>

        <%- include("./partials/footer.ejs") %>

</body>

</html>