<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUB Landscape - Admin Login</title>
    <link rel="icon" href="favicon.png" type="image/png">
    <link rel="stylesheet" href="css/admin_check/admin_check.css">
    <script src="js/admin_check/admin_check.js"></script>
</head>

<body id="body">

    <%- include("./partials/header.ejs") %>

        <section>

            <label id="prompt"> Please enter your crendentials to get your rights as an
                admin </label>
            <br> <br>

            <label for="name"> Admin Name</label> &nbsp;&nbsp;
            <input name="name" id="name">
            <!-- <br> -->&nbsp;&nbsp;
            <label for="password"> Password</label> &nbsp;&nbsp;
            <input type="password" name="password" id="password">
            <br> <br> <br>
            <button id="myButton" onclick="check"> Get Admin Priveleges </button>
            <br> <br> <br>
            <span id="answer"> </span>

        </section>

        <%- include("./partials/footer.ejs") %>

</body>

</html>