<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUB Landscape - Delete Plant</title>
    <link rel="icon" href="favicon.png" type="image/png">
</head>

<body>

    <%- include("./partials/header.ejs") %>

        <h1 style="font-size:50px; background-color:#40916cff ; color: white; text-align:center; font-weight:bold">
            Delete a plant</h1>

        <form style="text-align: center; padding-top:100px ; padding-bottom:50px ;" method="POST"
            action="/delete_plant">

            <label for="name" style="font-size: xx-large;"> Plant Name </label> &nbsp;
            <input name="name" id="name" style="font-size: x-large"> <br> <br>
            <button id="button"
                style="background-color:#40916cff ; color: white; padding: 25px 50px ; font-size: xx-large; ">
                Delete</button>


        </form>

        <%- include("./partials/footer.ejs") %>

</body>

</html>



<style>
    #button:hover {
        transform: translateY(-10px);
        transition: linear 0.3s;
    }
</style>