<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AUB Landscape - Search</title>

    <link rel="stylesheet" href="css/global styles/header-footer.css">
    <link rel="stylesheet" href="css/filter/filter.css">
    <script src="js/global js/footer.js"></script>
</head>
<body>
    <header id="header">
        <a id="logo" href="/">
            <img src="css/global images/AUB logo.png" alt="AUB Logo">
            <p>Landscape Design & Ecosystem Management</p>
            <p>Faculty of Agriculture & Food Sciences</p>
        </a>
        <div id="nav-container">
            <h1>AUB Landscape Plant Database</h1>
            <nav id="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Useful Links</a></li>
                <li><a href="#">Image Gallery</a></li>
                <li><a href="#">Popular Plant Categories</a></li>
                <li><a href="#">Glossary</a></li>
                <li><a href="#">Contact Us</a></li>
            </nav>
        </div>
    </header>


    <section id="plantLetter">
        <div>
            <h3 id="startingLetter">Plants starting with: <%=firstLetter%></h3>


            <% if(plants.length==0) { %>

                <h1  style="color: white; background-color: black; "> No Plants are in our database</h1>

            <% } else  { 

            for(let i = 0 ; i<plants.length ; i++) {  %>

             
            <div class="plantBox">
                <img src="images/filler.png" alt=""/>
                <h2 class="plantName"> <%= plants[i].name %></h2>
                <h4 class="secondName"><%= plants[i].scientific_name %></h4>
                <div class="plantProperties">
                    <img src="images/filler.png" alt="Tree"/>
                    
                </div>

                <a href="/ByName?name=<%= plants[i].name %>" class="read-more"> Check its profile </a>
            </div>
            <% } }%>
        </div>
    </section> 
    

    <footer id="footer">
        <img id="footer-bkg" src="css//global images/footer-bg-colored.png" alt="background">
        <div>
            <a href="http://www.aub.edu.lb/main/aub_files/Pages/copyright.aspx" target="_blank">
                &copy; Copyright
            </a>
            <a href="/Pages/Citing">
                Citing the plant Database
            </a>
            <a href="/Pages/Acknowledgments">
                Acknowledgments
            </a>
            <a href="/ContactUs">
                Contact Us
            </a>
        </div>
    </footer>

</body>
</html>