<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glossary</title>
    <link rel="stylesheet" href="css/glossary/glossary.css">
    <script src="js/glossary/glossary.js"></script>
</head>

<body>

    <%- include("./partials/header.ejs") %>

        <h1 id="glossary-title">Glossary</h1>

        <div id="navigation_links">
            <ul>
                <li class="first">
                    <a class="noData">
                        A
                    </a>
                </li>
                <li>
                    <a class="data">
                        B
                    </a>
                </li>
                <li>
                    <a class="data">
                        C
                    </a>
                </li>
                <li>
                    <a class="data">
                        D
                    </a>
                </li>
                <li>
                    <a class="data">
                        E
                    </a>
                </li>
                <li>
                    <a class="data">
                        F
                    </a>
                </li>
                <li>
                    <a class="data">
                        G
                    </a>
                </li>
                <li>
                    <a class="noData">
                        H
                    </a>
                </li>
                <li>
                    <a class="noData">
                        I
                    </a>
                </li>
                <li>
                    <a class="noData">
                        J
                    </a>
                </li>
                <li>
                    <a class="noData">
                        K
                    </a>
                </li>
                <li>
                    <a class="noData">
                        L
                    </a>
                </li>
                <li>
                    <a class="data">
                        M
                    </a>
                </li>
                <li>
                    <a class="data">
                        N
                    </a>
                </li>
                <li>
                    <a class="noData">
                        O
                    </a>
                </li>
                <li>
                    <a class="noData">
                        P
                    </a>
                </li>
                <li>
                    <a class="noData">
                        Q
                    </a>
                </li>
                <li>
                    <a class="noData">
                        R
                    </a>
                </li>
                <li>
                    <a class="noData">
                        S
                    </a>
                </li>
                <li>
                    <a class="noData">
                        T
                    </a>
                </li>
                <li>
                    <a class="noData">
                        U
                    </a>
                </li>
                <li>
                    <a class="noData">
                        V
                    </a>
                </li>
                <li>
                    <a class="noData">
                        W
                    </a>
                </li>
                <li>
                    <a class="noData">
                        X
                    </a>
                </li>
                <li>
                    <a class="noData">
                        Y
                    </a>
                </li>
                <li>
                    <a class="noData">
                        Z
                    </a>
                </li>
            </ul>
        </div>

        <div id="result"></div>

        <%- include("./partials/footer.ejs") %>
</body>

</html>