<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search By Criteria</title>
    <link rel="stylesheet" href="css/filter_by_criteria/filter_by_criteria.css">
    <script src="js/filter_by_criteria/tabs.js"></script>
</head>

<body>
    <%- include("./partials/header.ejs") %>

    <ul id="tabs">
        <li><a href="#step-1" class="tabs-selected" isdone="1" rel="1"><span>Country</span></a></li>
        <li><a href="#step-2" class="tabs-done" isdone="1" rel="2"><span>Climate</span></a></li>
        <li><a href="#step-3" class="tabs-done" isdone="1" rel="3"><span>Basic Info</span></a></li>
        <li><a href="#step-4" class="tabs-done" isdone="1" rel="4"><span>Uses</span></a></li>
        <li><a href="#step-5" class="tabs-done" isdone="1" rel="5"><span>Size\Shape</span></a></li>
        <li><a href="#step-6" class="tabs-done" isdone="1" rel="6"><span>Leaf</span></a></li>
        <li><a href="#step-7" class="tabs-done" isdone="1" rel="7"><span>Flower</span></a></li>
        <li><a href="#step-8" class="tabs-done" isdone="1" rel="8"><span>Fruit</span></a></li>
        <li><a href="#step-9" class="tabs-done" isdone="1" rel="9"><span>Trunk</span></a></li>
        <li><a href="#step-10" class="tabs-done" isdone="1" rel="10"><span>Management</span></a></li>
    </ul>

    <div id="tab-container">

        <div id="step-1" class="tab-container-selected"> Tab 1 </div>
        <div id="step-2" class="tab-container-hidden"> Tab 2 </div>
        <div id="step-3" class="tab-container-hidden"> Tab 3 </div>
        <div id="step-4" class="tab-container-hidden"> Tab 4 </div>
        <div id="step-5" class="tab-container-hidden"> Tab 5 </div>
        <div id="step-6" class="tab-container-hidden"> Tab 6 </div>
        <div id="step-7" class="tab-container-hidden"> Tab 7 </div>
        <div id="step-8" class="tab-container-hidden"> Tab 8 </div>
        <div id="step-9" class="tab-container-hidden"> Tab 9 </div>
        <div id="step-10" class="tab-container-hidden"> Tab 10 </div>

        <p>Test Search By Criteria</p>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>

</html>