<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search By Criteria</title>
    <link rel="stylesheet" href="css/search_by_criteria/search_by_criteria.css">
    <link rel="stylesheet" href="css/search_by_criteria/tab-1.css">
    <script src="js/search_by_criteria/tabs.js"></script>
</head>

<body>
    <%- include("./partials/header.ejs") %>

        <ul id="tabs">
            <li><button id="tab-btn-1" class="tabs-selected">Country</button></li>
            <!-- <li><button id="tab-btn-2" class="tabs-done">Climate</button></li> -->
            <li><button id="tab-btn-3" class="tabs-done">Basic Info</button></li>
            <li><button id="tab-btn-4" class="tabs-done">Uses</button></li>
            <li><button id="tab-btn-5" class="tabs-done">Size\Shape</button></li>
            <li><button id="tab-btn-6" class="tabs-done">Leaf</button></li>
            <li><button id="tab-btn-7" class="tabs-done">Flower</button></li>
            <li><button id="tab-btn-8" class="tabs-done">Fruit</button></li>
            <li><button id="tab-btn-9" class="tabs-done">Trunk</button></li>
            <li><button id="tab-btn-10" class="tabs-done">Management</button></li>
        </ul>

        <div id="tab-container">
            <div id="tab-1" class="tab-container-selected">
                <div id="tab-1-content">
                    <ul id="country-list">
                        <li alt="3">Algeria</li>
                        <li alt="22">Djibouti</li>
                        <li alt="7">Egypt</li>
                        <li alt="10">Iraq</li>
                        <li alt="14">Jordan</li>
                        <li alt="16">Kuwait</li>
                        <li alt="12">Lebanon</li>
                        <li alt="6">Libya</li>
                        <li alt="1">Mauritania</li>
                        <li alt="4">Morroco</li>
                        <li alt="18">Oman</li>
                        <li alt="11">Palestine</li>
                        <li alt="13">Qatar</li>
                        <li alt="15">Saudi Arabia</li>
                        <li alt="23">Somalia</li>
                        <li alt="8">Sudan</li>
                        <li alt="9">Syria</li>
                        <li alt="5">Tunisia</li>
                        <li alt="17">UAE</li>
                        <li alt="19">Yemen</li>
                    </ul>

                    <div id="main_map">
                        <%- include("./partials/search_by_criteria/map_countries.ejs") %>
                    </div>
                </div>
            </div>
            <!-- <div id="tab-2" class="tab-container-hidden"></div> -->
            <div id="tab-3" class="tab-container-hidden">
                <%- include("./partials/search_by_criteria/basic_info.ejs") %>
            </div>
            <div id="tab-4" class="tab-container-hidden"> Tab 4 </div>
            <div id="tab-5" class="tab-container-hidden"> Tab 5 </div>
            <div id="tab-6" class="tab-container-hidden"> Tab 6 </div>
            <div id="tab-7" class="tab-container-hidden"> Tab 7 </div>
            <div id="tab-8" class="tab-container-hidden"> Tab 8 </div>
            <div id="tab-9" class="tab-container-hidden"> Tab 9 </div>
            <div id="tab-10" class="tab-container-hidden"> Tab 10 </div>
        </div>

        <%- include("./partials/footer.ejs") %>
</body>

</html>