<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUB Landscape - Home</title>
     <link rel="stylesheet" href="css/global styles/header-footer.css">
    <link rel="stylesheet" href="css/home/home.css">
    <link rel="stylesheet" href="css/home/search-btns.css">
    <script src="js/global js/footer.js"></script>
    
</head>



<body>
    <header id="header">
        <a id="logo" href="/">
            <img src="css/global images/AUB logo.png" alt="AUB Logo">
            <p>Landscape Design & Ecosystem Management</p>
            <p>Faculty of Agriculture & Food Sciences</p>
        </a>
        <div id="nav-container">
            <h1>AUB Landscape Plant Database</h1>
            <nav id="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Useful Links</a></li>
                <li><a href="#">Image Gallery</a></li>
                <li><a href="#">Popular Plant Categories</a></li>
                <li><a href="#">Glossary</a></li>
                <li><a href="#">Contact Us</a></li>
            </nav>
        </div>
    </header>

    <section style="text-align: center; padding-top:100px ; padding-bottom:100px ;">
       <label style="color: green; font-size: x-large"> You can either search by Orginal Name or Scientific Name</label>
        <br> <br>
       <form method="GET" action="/ByName"> 
            <label for="name" style="font-size: xx-large;"> Original Name</label> 
            <input name="name" id="name">
            <!-- <br> -->
            <label for="scientific_name" style="font-size: xx-large;"> Scientific Name</label> 
            <input name="scientific_name" id="scientific_name" >
            <br> <br> <br>
            <button style="font-size: x-large;"> Search </button>
        </form>
    </section>


    <footer id="footer">
        <img id="footer-bkg" src="css//global images/footer-bg-colored.png" alt="background">
        <div>
            <a href="http://www.aub.edu.lb/main/aub_files/Pages/copyright.aspx" target="_blank">
                &copy; Copyright
            </a>
            <a href="/Pages/Citing">
                Citing the plant Database
            </a>
            <a href="/Pages/Acknowledgments">
                Acknowledgments
            </a>
            <a href="/ContactUs">
                Contact Us
            </a>
        </div>
    </footer>

</body>

<!-- <script>
    window.onload = function()
    {
        document.getElementById("name").value = "" ; 
    }
 
</script> -->