<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUB Landscape - Home</title>
    <link rel="stylesheet" href="css/home/home.css">
    <link rel="stylesheet" href="css/home/search-btns.css">
    <script src="js/global js/footer.js"></script>
    
</head>



<body>
    <%- include("./partials/header.ejs") %>
    <section style="text-align: center; padding-top:100px ; padding-bottom:100px ;">
       <label style="color: green; font-size: x-large"> You can either search by Orginal Name or Scientific Name</label>
        <br> <br>
       <form method="GET" action="/ByName"> 
            <label for="name" style="font-size: xx-large;"> Original Name</label> 
            <input name="name" id="name">
            <!-- <br> -->
            <label for="scientific_name" style="font-size: xx-large;"> Scientific Name</label> 
            <input name="scientific_name" id="scientific_name" >
            <br> <br> <br>
            <button style="font-size: x-large;"> Search </button>
        </form>
    </section>


    <%- include("./partials/footer.ejs") %>

</body>

<!-- <script>
    window.onload = function()
    {
        document.getElementById("name").value = "" ; 
    }
 
</script> -->