<!-- -------------------------Leaf Margins------------------------- -->
<h3>Leaf Margins</h3>

<div id="Leaf-Margins-Ciliate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Ciliate" name="Leaf-Margins" class="visually-hidden">
        Ciliate
    </label>
</div>
<div id="Leaf-Margins-Entire" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Entire" name="Leaf-Margins" class="visually-hidden">
        Entire
    </label>
</div>
<div id="Leaf-Margins-Lobed" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Lobed" name="Leaf-Margins" class="visually-hidden">
        Lobed
    </label>
</div>
<div id="Leaf-Margins-Spiny" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Spiny" name="Leaf-Margins" class="visually-hidden">
        Spiny
    </label>
</div>
<div id="Leaf-Margins-Dentate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Dentate" name="Leaf-Margins" class="visually-hidden">
        Dentate
    </label>
</div>
<div id="Leaf-Margins-Serrate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Serrate" name="Leaf-Margins" class="visually-hidden">
        Serrate
    </label>
</div>
<div id="Leaf-Margins-Revolute" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Revolute" name="Leaf-Margins" class="visually-hidden">
        Revolute
    </label>
</div>
<div id="Leaf-Margins-Terminal-Spine" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Terminal Spine" name="Leaf-Margins" class="visually-hidden">
        Terminal Spine
    </label>
</div>
<div id="Leaf-Margins-Crenate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Crenate" name="Leaf-Margins" class="visually-hidden">
        Crenate
    </label>
</div>
<div id="Leaf-Margins-Serrulate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Serrulate" name="Leaf-Margins" class="visually-hidden">
        Serrulate
    </label>
</div>

<div id="Leaf-Margins-Double-Serrate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Double Serrate" name="Leaf-Margins" class="visually-hidden">
        Double Serrate
    </label>
</div>
<div id="Leaf-Margins-Undulate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Undulate" name="Leaf-Margins" class="visually-hidden">
        Undulate
    </label>
</div>
<div id="Leaf-Margins-Pectinate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Pectinate" name="Leaf-Margins" class="visually-hidden">
        Pectinate
    </label>
</div>
<div id="Leaf-Margins-Cleft" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Cleft" name="Leaf-Margins" class="visually-hidden">
        Cleft
    </label>
</div>
<div id="Leaf-Margins-Incised" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Incised" name="Leaf-Margins" class="visually-hidden">
        Incised
    </label>
</div>

<div id="Leaf-Margins-Parted" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Parted" name="Leaf-Margins" class="visually-hidden">
        Parted
    </label>
</div>