<!-- -------------------------Leaf Shape------------------------- -->
<h3>Leaf Shape</h3>

<div id="Leaf-Shape-Needle" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Needle" name="Leaf-Shape" class="visually-hidden">
        Needle
    </label>
</div>
<div id="Leaf-Shape-Scale" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Scale" name="Leaf-Shape" class="visually-hidden">
        Scale
    </label>
</div>
<div id="Leaf-Shape-Linear" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Linear" name="Leaf-Shape" class="visually-hidden">
        Linear
    </label>
</div>
<div id="Leaf-Shape-Awl" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Awl" name="Leaf-Shape" class="visually-hidden">
        Awl
    </label>
</div>
<div id="Leaf-Shape-Sword" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Sword" name="Leaf-Shape" class="visually-hidden">
        Sword
    </label>
</div>
<div id="Leaf-Shape-Oblanceolate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Oblanceolate" name="Leaf-Shape" class="visually-hidden">
        Oblanceolate
    </label>
</div>
<div id="Leaf-Shape-Oval" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Oval" name="Leaf-Shape" class="visually-hidden">
        Oval
    </label>
</div>
<div id="Leaf-Shape-Lanceolate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Lanceolate" name="Leaf-Shape" class="visually-hidden">
        Lanceolate
    </label>
</div>
<div id="Leaf-Shape-Ovate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Ovate" name="Leaf-Shape" class="visually-hidden">
        Ovate
    </label>
</div>
<div id="Leaf-Shape-Obovate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Obovate" name="Leaf-Shape" class="visually-hidden">
        Obovate
    </label>
</div>

<div id="Leaf-Shape-Spatulate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Spatulate" name="Leaf-Shape" class="visually-hidden">
        Spatulate
    </label>
</div>
<div id="Leaf-Shape-Oblong" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Oblong" name="Leaf-Shape" class="visually-hidden">
        Oblong
    </label>
</div>
<div id="Leaf-Shape-Rhomboid" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Rhomboid" name="Leaf-Shape" class="visually-hidden">
        Rhomboid
    </label>
</div>
<div id="Leaf-Shape-Deltoid" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Deltoid" name="Leaf-Shape" class="visually-hidden">
        Deltoid
    </label>
</div>
<div id="Leaf-Shape-Cordate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Cordate" name="Leaf-Shape" class="visually-hidden">
        Cordate
    </label>
</div>

<div id="Leaf-Shape-Orbiculate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Orbiculate" name="Leaf-Shape" class="visually-hidden">
        Orbiculate
    </label>
</div>

<div id="Leaf-Shape-Fan" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Fan" name="Leaf-Shape" class="visually-hidden">
        Fan
    </label>
</div>

<div id="Leaf-Shape-Star" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Star" name="Leaf-Shape" class="visually-hidden">
        Star
    </label>
</div>