<!-- -------------------------Leaf Type------------------------- -->
<h3>Leaf Type</h3>

<div id="Leaf-Type-Simple" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Simple" name="Leaf-Type" class="visually-hidden">
        Simple
    </label>
</div>
<div id="Leaf-Type-Trifoliate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Trifoliate" name="Leaf-Type" class="visually-hidden">
        Trifoliate
    </label>
</div>
<div id="Leaf-Type-Palmately-Compound" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Palmately Compound" name="Leaf-Type" class="visually-hidden">
        Palmately Compound
    </label>
</div>
<div id="Leaf-Type-Costapalmate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Costapalmate" name="Leaf-Type" class="visually-hidden">
        Costapalmate
    </label>
</div>
<div id="Leaf-Type-Even-Pinnately-Compound" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Even-Pinnately Compound" name="Leaf-Type" class="visually-hidden">
        Even-Pinnately Compound
    </label>
</div>
<div id="Leaf-Type-Odd-Pinnately-Compound" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Odd-Pinnately Compound" name="Leaf-Type" class="visually-hidden">
        Odd-Pinnately Compound
    </label>
</div>
<div id="Leaf-Type-Bipinnately-Compound" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Bipinnately Compound" name="Leaf-Type" class="visually-hidden">
        Bipinnately Compound
    </label>
</div>

<!-- -------------------------Leaf-Scent------------------------- -->
<h3>Leaf Scent</h3>
<div id="leaf-scent-radio-wrapper">
    <label class="radiobox"><input type="radio" name="Leaf-Scent" value="Pleasant" id="Leaf-Scent-Pleasant"> Pleasant
    </label>
    <label class="radiobox"><input type="radio" name="Leaf-Scent" value="Unpleasant" id="Leaf-Scent-Unpleasant">
        Unpleasant </label>
    <label class="radiobox"><input type="radio" name="Leaf-Scent" value="No-Fragrance" id="Leaf-Scent-No-Fragrance">
        No Fragrance </label>
</div>

<!-- -------------------------Leaf-Persistance------------------------- -->
<h3>Leaf Persistance</h3>
<div id="persistance-radio-wrapper">
    <label class="radiobox"><input type="radio" name="Leaf-Persistance" value="Evergreen" id="Persistance-Evergreen">
        Evergreen
    </label>
    <label class="radiobox"><input type="radio" name="Leaf-Persistance" value="Semi-Evergreen"
            id="Persistance-Semi-Evergreen">
        Semi Evergreen </label>
    <label class="radiobox"><input type="radio" name="Leaf-Persistance" value="Deciduous" id="Persistance-Deciduous">
        Deciduous </label>
</div>

<!-- -------------------------Leaf Arrangement------------------------- -->
<h3>Leaf Arrangement</h3>

<div id="Leaf-Arrangement-Alternate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Alternate" name="Leaf-Arrangement" class="visually-hidden">
        Alternate
    </label>
</div>
<div id="Leaf-Arrangement-Spiral" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Spiral" name="Leaf-Arrangement" class="visually-hidden">
        Spiral
    </label>
</div>
<div id="Leaf-Arrangement-Opposite" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Opposite" name="Leaf-Arrangement" class="visually-hidden">
        Opposite
    </label>
</div>
<div id="Leaf-Arrangement-Whorled" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Whorled" name="Leaf-Arrangement" class="visually-hidden">
        Whorled
    </label>
</div>