<!-- -------------------------Leaf Venation------------------------- -->
<h3>Leaf Venation</h3>

<div id="Leaf-Venation-Brachidodrome" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Brachidodrome" name="Leaf-Venation" class="visually-hidden">
        Brachidodrome
    </label>
</div>
<div id="Leaf-Venation-Bowed" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Bowed" name="Leaf-Venation" class="visually-hidden">
        Bowed
    </label>
</div>
<div id="Leaf-Venation-Parallel" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Parallel" name="Leaf-Venation" class="visually-hidden">
        Parallel
    </label>
</div>
<div id="Leaf-Venation-Pinnate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Pinnate" name="Leaf-Venation" class="visually-hidden">
        Pinnate
    </label>
</div>
<div id="Leaf-Venation-Nearly-Visible" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Nearly Visible" name="Leaf-Venation" class="visually-hidden">
        Nearly Visible
    </label>
</div>
<div id="Leaf-Venation-Reticulate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Reticulate" name="Leaf-Venation" class="visually-hidden">
        Reticulate
    </label>
</div>
<div id="Leaf-Venation-Palmate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Palmate" name="Leaf-Venation" class="visually-hidden">
        Palmate
    </label>
</div>

<!-- -------------------------Color in Growing Season------------------------- -->

<h3>Color in Growing Season</h3>

<div id="Color-In-Growing-Season-Green" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Green" name="Color-In-Growing-Season" class="visually-hidden">
        Green
    </label>
</div>

<div id="Color-In-Growing-Season-Purple" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Purple" name="Color-In-Growing-Season" class="visually-hidden">
        Purple
    </label>
</div>

<div id="Color-In-Growing-Season-Red" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Red" name="Color-In-Growing-Season" class="visually-hidden">
        Red
    </label>
</div>

<div id="Color-In-Growing-Season-Yellow" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Yellow" name="Color-In-Growing-Season" class="visually-hidden">
        Yellow
    </label>
</div>

<div id="Color-In-Growing-Season-Blue-Blue-Green" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Blue/Blue-Green" name="Color-In-Growing-Season" class="visually-hidden">
        Blue/Blue-Green
    </label>
</div>

<div id="Color-In-Growing-Season-Silver" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Silver" name="Color-In-Growing-Season" class="visually-hidden">
        Silver
    </label>
</div>

<div id="Color-In-Growing-Season-Variegated" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Variegated" name="Color-In-Growing-Season" class="visually-hidden">
        Variegated
    </label>
</div>

<!-- -------------------------Color in Changing Season------------------------- -->

<h3>Color in Changing Season</h3>

<div id="Color-In-Changing-Season-Green" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Green" name="Color-In-Changing-Season" class="visually-hidden">
        Green
    </label>
</div>

<div id="Color-In-Changing-Season-Purple" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Purple" name="Color-In-Changing-Season" class="visually-hidden">
        Purple
    </label>
</div>

<div id="Color-In-Changing-Season-Red" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Red" name="Color-In-Changing-Season" class="visually-hidden">
        Red
    </label>
</div>

<div id="Color-In-Changing-Season-Yellow" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Yellow" name="Color-In-Changing-Season" class="visually-hidden">
        Yellow
    </label>
</div>

<div id="Color-In-Changing-Season-Orange" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Orange" name="Color-In-Changing-Season" class="visually-hidden">
        Orange
    </label>
</div>

<div id="Color-In-Changing-Season-Brown" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Brown" name="Color-In-Changing-Season" class="visually-hidden">
        Brown
    </label>
</div>

<div id="Color-In-Changing-Season-Copper" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Copper" name="Color-In-Changing-Season" class="visually-hidden">
        Copper
    </label>
</div>

<!-- -------------------------Leaf Blade Length------------------------- -->
<h3>Leaf Blade Length</h3>

<div id="Leaf-Blade-Length-80plus" class="selectbox unselected">
    <label>
        <input type="checkbox" value=">80 cm" name="Leaf-Blade-Length" class="visually-hidden">
        &gt80 (cm)
    </label>
</div>

<div id="Leaf-Blade-Length-50-80" class="selectbox unselected">
    <label>
        <input type="checkbox" value="50 - 50 cm" name="Leaf-Blade-Length" class="visually-hidden">
        50-80 (cm)
    </label>
</div>

<div id="Leaf-Blade-Length-30-50" class="selectbox unselected">
    <label>
        <input type="checkbox" value="30 - 50 cm" name="Leaf-Blade-Length" class="visually-hidden">
        30-50 (cm)
    </label>
</div>

<div id="Leaf-Blade-Length-20-30" class="selectbox unselected">
    <label>
        <input type="checkbox" value="20 - 30 cm" name="Leaf-Blade-Length" class="visually-hidden">
        20-30 (cm)
    </label>
</div>

<div id="Leaf-Blade-Length-10-20" class="selectbox unselected">
    <label>
        <input type="checkbox" value="10 - 20 cm" name="Leaf-Blade-Length" class="visually-hidden">
        10-20 (cm)
    </label>
</div>

<div id="Leaf-Blade-Length-5-10" class="selectbox unselected">
    <label>
        <input type="checkbox" value="5 - 10 cm" name="Leaf-Blade-Length" class="visually-hidden">
        5-10 (cm)
    </label>
</div>

<div id="Leaf-Blade-Length-0.5less" class="selectbox unselected">
    <label>
        <input type="checkbox" value="0 - 0.5 cm" name="Leaf-Blade-Length" class="visually-hidden">
        &lt0.5 (cm)
    </label>
</div>