<!-- -------------------------PLANT TYPE------------------------- -->
<h3>Plant Type</h3>

<div id="Type-Cactus/Succulent" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Cactus/Succulent" name="Plant-Type" class="visually-hidden">
        Cactus/Succulent
    </label>
</div>
<div id="Type-Ground-Cover" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Ground Cover" name="Plant-Type" class="visually-hidden">
        Ground Cover
    </label>
</div>
<div id="Type-Lawn" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Lawn" name="Plant-Type" class="visually-hidden">
        Lawn
    </label>
</div>
<div id="Type-Palm" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Palm" name="Plant-Type" class="visually-hidden">
        Palm
    </label>
</div>
<div id="Type-Shrub" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Shrub" name="Plant-Type" class="visually-hidden">
        Shrub
    </label>
</div>
<div id="Type-Tree" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Tree" name="Plant-Type" class="visually-hidden">
        Tree
    </label>
</div>
<div id="Type-Vine" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Vine" name="Plant-Type" class="visually-hidden">
        Vine
    </label>
</div>

<!-- -------------------------Canopy Shape------------------------- -->

<h3>Canopy-Shape</h3>

<div id="Canopy-Shape-Weeping" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Weeping" name="Canopy-Shape" class="visually-hidden">
        Weeping
    </label>
</div>

<div id="Canopy-Shape-Upright-Erect" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Upright/Erect" name="Canopy-Shape" class="visually-hidden">
        Upright/Erect
    </label>
</div>

<div id="Canopy-Shape-Vase" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Vase" name="Canopy-Shape" class="visually-hidden">
        Vase
    </label>
</div>

<div id="Canopy-Shape-Pyramidal" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Pyramidal" name="Canopy-Shape" class="visually-hidden">
        Pyramidal
    </label>
</div>

<div id="Canopy-Shape-Rounded" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Rounded" name="Canopy-Shape" class="visually-hidden">
        Rounded
    </label>
</div>

<div id="Canopy-Shape-Columnar" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Columnar" name="Canopy-Shape" class="visually-hidden">
        Columnar
    </label>
</div>

<div id="Canopy-Shape-Oval" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Oval" name="Canopy-Shape" class="visually-hidden">
        Oval
    </label>
</div>

<div id="Canopy-Shape-Palm" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Palm" name="Canopy-Shape" class="visually-hidden">
        Palm
    </label>
</div>

<div id="Canopy-Shape-Spreading" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Spreading" name="Canopy-Shape" class="visually-hidden">
        Spreading
    </label>
</div>

<!-- -------------------------Plant Height------------------------- -->
<h3>Plant Height</h3>

<div id="Plant-Height-23plus" class="selectbox unselected">
    <label>
        <input type="checkbox" value=">23 m" name="Plant-Height" class="visually-hidden">
        &gt23 (m)
    </label>
</div>

<div id="Plant-Height-15-23" class="selectbox unselected">
    <label>
        <input type="checkbox" value="15 to 23 m" name="Plant-Height" class="visually-hidden">
        15-23 (m)
    </label>
</div>

<div id="Plant-Height-8-15" class="selectbox unselected">
    <label>
        <input type="checkbox" value="8 to 15 m" name="Plant-Height" class="visually-hidden">
        8-15 (m)
    </label>
</div>

<div id="Plant-Height-5-8" class="selectbox unselected">
    <label>
        <input type="checkbox" value="5 to 8 m" name="Plant-Height" class="visually-hidden">
        5-8 (m)
    </label>
</div>

<div id="Plant-Height-3-5" class="selectbox unselected">
    <label>
        <input type="checkbox" value="3 to 5 m" name="Plant-Height" class="visually-hidden">
        3-5 (m)
    </label>
</div>

<div id="Plant-Height-1.5-3" class="selectbox unselected">
    <label>
        <input type="checkbox" value="1.5 to 3 m" name="Plant-Height" class="visually-hidden">
        1.5-3 (m)
    </label>
</div>

<div id="Plant-Height-1-1.5" class="selectbox unselected">
    <label>
        <input type="checkbox" value="1 to 1.5 m" name="Plant-Height" class="visually-hidden">
        1-1.5 (m)
    </label>
</div>

<div id="Plant-Height-0.5-1" class="selectbox unselected">
    <label>
        <input type="checkbox" value="0.5 to 1 m" name="Plant-Height" class="visually-hidden">
        0.5-1 (m)
    </label>
</div>

<div id="Plant-Height-0.5less" class="selectbox unselected">
    <label>
        <input type="checkbox" value="0 to 0.5 m" name="Plant-Height" class="visually-hidden">
        &lt0.5 (m)
    </label>
</div>


<!-- -------------------------Plant Spread------------------------- -->
<h3>Plant Spread</h3>

<div id="Plant-Spread-23plus" class="selectbox unselected">
    <label>
        <input type="checkbox" value=">23 meters" name="Plant-Spread" class="visually-hidden">
        &gt23 (m)
    </label>
</div>

<div id="Plant-Spread-15-23" class="selectbox unselected">
    <label>
        <input type="checkbox" value="15 to 23 meters" name="Plant-Spread" class="visually-hidden">
        15-23 (m)
    </label>
</div>

<div id="Plant-Spread-8-15" class="selectbox unselected">
    <label>
        <input type="checkbox" value="8 to 15 meters" name="Plant-Spread" class="visually-hidden">
        8-15 (m)
    </label>
</div>

<div id="Plant-Spread-5-8" class="selectbox unselected">
    <label>
        <input type="checkbox" value="5 to 8 meters" name="Plant-Spread" class="visually-hidden">
        5-8 (m)
    </label>
</div>

<div id="Plant-Spread-3-5" class="selectbox unselected">
    <label>
        <input type="checkbox" value="3 to 5 meters" name="Plant-Spread" class="visually-hidden">
        3-5 (m)
    </label>
</div>

<div id="Plant-Spread-1.5-3" class="selectbox unselected">
    <label>
        <input type="checkbox" value="1.5 to 3 meters" name="Plant-Spread" class="visually-hidden">
        1.5-3 (m)
    </label>
</div>

<div id="Plant-Spread-1-1.5" class="selectbox unselected">
    <label>
        <input type="checkbox" value="1 to 1.5 meters" name="Plant-Spread" class="visually-hidden">
        1-1.5 (m)
    </label>
</div>

<div id="Plant-Spread-0.5-1" class="selectbox unselected">
    <label>
        <input type="checkbox" value="0.5 to 1 meters" name="Plant-Spread" class="visually-hidden">
        0.5-1 (m)
    </label>
</div>

<div id="Plant-Spread-0.5less" class="selectbox unselected">
    <label>
        <input type="checkbox" value="0 to 0.5 meters" name="Plant-Spread" class="visually-hidden">
        &lt0.5 (m)
    </label>
</div>
