section {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

label {
  font-size: xx-large;
}

input {
  font-size: x-large;
}

#prompt {
  color: green;
  font-size: x-large;
}

button {
  background-color: #40916cff;
  color: white;
  padding: 25px 50px;
  font-size: xx-large;
  box-shadow: 1px 1px black;
  border: 1px solid #40916cff;
}

button:hover {
  box-shadow: inset 1px 1px black;
}

span {
  font-size: xx-large;
  color: white;
  background-color: red;
}
