<form action="/" method="GET">
    <!-- -------------------------PLANT TYPE------------------------- -->
    <h3>Plant Type</h3>

    <div id="Type-Cactus" class="unselected">
        <label>
            <input type="checkbox" value="on" name="Type-Cactus/Succulent" class="visually-hidden">
            <img width="50px" height="50px"
                src="https://res.cloudinary.com/css-tricks/image/upload/w_600,q_auto,f_auto/buysellads/uu/7/100182/1632497294-DODX3915-600x600-2.jpg"
                alt="Type Cactus"> <br>
            Cactus/Succulent
        </label>
    </div>
    <div id="Type-Ground-Cover" class="unselected">
        <label>
            <input type="checkbox" value="on" name="Type-Ground-Cover" class="visually-hidden">
            <img width="50px" height="50px"
                src="https://res.cloudinary.com/css-tricks/image/upload/w_600,q_auto,f_auto/buysellads/uu/7/100182/1632497294-DODX3915-600x600-2.jpg"
                alt="Type Ground Cover"> <br>
            Ground Cover
        </label>
    </div>
    <div id="Type-Lawn" class="unselected">
        <label>
            <input type="checkbox" value="on" name="Type-Lawn" class="visually-hidden">
            <img width="50px" height="50px"
                src="https://res.cloudinary.com/css-tricks/image/upload/w_600,q_auto,f_auto/buysellads/uu/7/100182/1632497294-DODX3915-600x600-2.jpg"
                alt="Type Lawn"> <br>
            Lawn
        </label>
    </div>
    <div id="Type-Palm" class="unselected">
        <label>
            <input type="checkbox" value="on" name="Type-Palm" class="visually-hidden">
            <img width="50px" height="50px"
                src="https://res.cloudinary.com/css-tricks/image/upload/w_600,q_auto,f_auto/buysellads/uu/7/100182/1632497294-DODX3915-600x600-2.jpg"
                alt="Type Palm"> <br>
            Palm
        </label>
    </div>
    <div id="Type-Shrub" class="unselected">
        <label>
            <input type="checkbox" value="on" name="Type-Shrub" class="visually-hidden">
            <img width="50px" height="50px"
                src="https://res.cloudinary.com/css-tricks/image/upload/w_600,q_auto,f_auto/buysellads/uu/7/100182/1632497294-DODX3915-600x600-2.jpg"
                alt="Type Shrub"> <br>
            Shrub
        </label>
    </div>
    <div id="Type-Tree" class="unselected">
        <label>
            <input type="checkbox" value="on" name="Type-Tree" class="visually-hidden">
            <img width="50px" height="50px"
                src="https://res.cloudinary.com/css-tricks/image/upload/w_600,q_auto,f_auto/buysellads/uu/7/100182/1632497294-DODX3915-600x600-2.jpg"
                alt="Type Tree"> <br>
            Tree
        </label>
    </div>
    <div id="Type-Vine" class="unselected">
        <label>
            <input type="checkbox" value="on" name="Type-Vine" class="visually-hidden">
            <img width="50px" height="50px"
                src="https://res.cloudinary.com/css-tricks/image/upload/w_600,q_auto,f_auto/buysellads/uu/7/100182/1632497294-DODX3915-600x600-2.jpg"
                alt="Type Vine"> <br>
            Vine
        </label>
    </div>

    <!-- -------------------------LIGHT------------------------- -->
    <h3>Light</h3>
    <div id="Light-Full" class="unselected">
        <label>
            <input type="checkbox" value="on" name="Light-Full" class="visually-hidden">
            <img width="50px" height="50px"
                src="https://res.cloudinary.com/css-tricks/image/upload/w_600,q_auto,f_auto/buysellads/uu/7/100182/1632497294-DODX3915-600x600-2.jpg"
                alt="Light Full"> <br>
            Full
        </label>
    </div>
    <div id="Light-Part" class="unselected">
        <label>
            <input type="checkbox" value="on" name="Light-Part" class="visually-hidden">
            <img width="50px" height="50px"
                src="https://res.cloudinary.com/css-tricks/image/upload/w_600,q_auto,f_auto/buysellads/uu/7/100182/1632497294-DODX3915-600x600-2.jpg"
                alt="Light Part"> <br>
            Part
        </label>
    </div>
    <div id="Light-Shade" class="unselected">
        <label>
            <input type="checkbox" value="on" name="Light-Shade" class="visually-hidden">
            <img width="50px" height="50px"
                src="https://res.cloudinary.com/css-tricks/image/upload/w_600,q_auto,f_auto/buysellads/uu/7/100182/1632497294-DODX3915-600x600-2.jpg"
                alt="Light Shade"> <br>
            Shade
        </label>
    </div>

    <!-- -------------------------LOAM------------------------- -->
    <h3>Soil</h3>
    <div id="Soil-Clay" class="unselected">
        <label>
            <input type="checkbox" value="on" name="Soil-Clay" class="visually-hidden">
            <img width="50px" height="50px"
                src="https://res.cloudinary.com/css-tricks/image/upload/w_600,q_auto,f_auto/buysellads/uu/7/100182/1632497294-DODX3915-600x600-2.jpg"
                alt="Soil Clay"> <br>
            Clay
        </label>
    </div>
    <div id="Soil-Sand" class="unselected">
        <label>
            <input type="checkbox" value="on" name="Soil-Sand" class="visually-hidden">
            <img width="50px" height="50px"
                src="https://res.cloudinary.com/css-tricks/image/upload/w_600,q_auto,f_auto/buysellads/uu/7/100182/1632497294-DODX3915-600x600-2.jpg"
                alt="Soil Sand"> <br>
            Sand
        </label>
    </div>
    <div id="Soil-Loam" class="unselected">
        <label>
            <input type="checkbox" value="on" name="Soil-Loam" class="visually-hidden">
            <img width="50px" height="50px"
                src="https://res.cloudinary.com/css-tricks/image/upload/w_600,q_auto,f_auto/buysellads/uu/7/100182/1632497294-DODX3915-600x600-2.jpg"
                alt="Soil Loam"> <br>
            Loam
        </label>
    </div>

    <!-- -------------------------SOIL------------------------- -->
    <h3>Soil pH</h3>
    <input type="checkbox" name="Soil-pH-Acidic"> Acidic (pH&lt7)
    <br>
    <input type="checkbox" name="Soil-pH-Neutral"> Neutral (pH=7)
    <br>
    <input type="checkbox" name="Soil-pH-Alkaline"> Alkaline (pH&gt7)

    <!-- -------------------------WATER------------------------- -->
    <h3>Water</h3>
    <div id="Water-High" class="unselected">
        <label>
            <input type="checkbox" value="on" name="Water-High" class="visually-hidden">
            <img width="50px" height="50px"
                src="https://res.cloudinary.com/css-tricks/image/upload/w_600,q_auto,f_auto/buysellads/uu/7/100182/1632497294-DODX3915-600x600-2.jpg"
                alt="Water High"> <br>
            High
        </label>
    </div>
    <div id="Water-Moderate" class="unselected">
        <label>
            <input type="checkbox" value="on" name="Water-Moderate" class="visually-hidden">
            <img width="50px" height="50px"
                src="https://res.cloudinary.com/css-tricks/image/upload/w_600,q_auto,f_auto/buysellads/uu/7/100182/1632497294-DODX3915-600x600-2.jpg"
                alt="Water Moderate"> <br>
            Moderate
        </label>
    </div>
    <div id="Water-Low" class="unselected">
        <label>
            <input type="checkbox" value="on" name="Water-Low" class="visually-hidden">
            <img width="50px" height="50px"
                src="https://res.cloudinary.com/css-tricks/image/upload/w_600,q_auto,f_auto/buysellads/uu/7/100182/1632497294-DODX3915-600x600-2.jpg"
                alt="Water Low"> <br>
            Low
        </label>
    </div>

    <!-- -------------------------TOLERANCE------------------------- -->
    <h3>Tolerance</h3>
    <table cellspacing="10px" cellpadding="10px">
        <tr>
            <th align="left">Heat</th>
            <td><label>
                    <input type="radio" name="Tolerance-Heat" value="on" id="Tolerance-Heat-on">
                    Yes
                </label></td>
            <td><label>
                    <input type="radio" name="Tolerance-Heat" value="off" id="Tolerance-Heat-off">
                    No
                </label></td>
        </tr>
        <tr>
            <th align="left">Drought</th>
            <td>
                <label>
                    <input type="radio" name="Tolerance-Drought" value="on" id="Tolerance-Drought-on">
                    Yes
                </label>
            </td>
            <td>
                <label>
                    <input type="radio" name="Tolerance-Drought" value="off" id="Tolerance-Drought-off">
                    No
                </label>
            </td>
        </tr>
        <tr>
            <th align="left">Frost</th>
            <td>
                <label>
                    <input type="radio" name="Tolerance-Frost" value="on" id="Tolerance-Frost-on">
                    Yes
                </label>
            </td>
            <td>
                <label>
                    <input type="radio" name="Tolerance-Frost" value="off" id="Tolerance-Frost-off">
                    No
                </label>
            </td>
        </tr>
        <tr>
            <th align="left">Salt</th>
            <td>
                <label>
                    <input type="radio" name="Tolerance-Salt" value="Good" id="Tolerance-Salt-Good">
                    Good
                </label>
            </td>
            <td>
                <label>
                    <input type="radio" name="Tolerance-Salt" value="Moderate" id="Tolerance-Salt-Moderate">
                    Moderate
                </label>
            </td>
            <td>
                <label>
                    <input type="radio" name="Tolerance-Salt" value="Poor" id="Tolerance-Salt-Poor">
                    Poor
                </label>
            </td>
        </tr>
    </table>

    <!-- -------------------------Life Cycle------------------------- -->
    <h3>Life Cycle</h3>

    <label><input type="radio" name="Life-Cycle" value="Annual" id="Life-Cycle-Annual"> Annual </label>
    <label><input type="radio" name="Life-Cycle" value="Perennial" id="Life-Cycle-Perennial"> Perennial </label>
    <label><input type="radio" name="Life-Cycle" value="Biennial" id="Life-Cycle-Biennial"> Biennial </label>

    <br>
    <input type="submit" value="Test Submit Button (goes to home)">
</form>
