<!-- -------------------------PLANT TYPE------------------------- -->
<h3>Plant Type</h3>

<div id="Type-Cactus/Succulent" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Cactus/Succulent" name="Plant-Type" class="visually-hidden">
        Cactus/Succulent
    </label>
</div>
<div id="Type-Ground-Cover" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Ground Cover" name="Plant-Type" class="visually-hidden">
        Ground Cover
    </label>
</div>
<div id="Type-Lawn" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Lawn" name="Plant-Type" class="visually-hidden">
        Lawn
    </label>
</div>
<div id="Type-Palm" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Palm" name="Plant-Type" class="visually-hidden">
        Palm
    </label>
</div>
<div id="Type-Shrub" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Shrub" name="Plant-Type" class="visually-hidden">
        Shrub
    </label>
</div>
<div id="Type-Tree" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Tree" name="Plant-Type" class="visually-hidden">
        Tree
    </label>
</div>
<div id="Type-Vine" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Vine" name="Plant-Type" class="visually-hidden">
        Vine
    </label>
</div>

<!-- -------------------------LIGHT------------------------- -->
<h3>Light</h3>
<div id="Light-Full" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Full" name="Light" class="visually-hidden">
        Full
    </label>
</div>
<div id="Light-Part" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Part" name="Light" class="visually-hidden">
        Part
    </label>
</div>
<div id="Light-Shade" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Shade" name="Light" class="visually-hidden">
        Shade
    </label>
</div>

<!-- -------------------------Soil------------------------- -->
<h3>Soil</h3>
<div id="Soil-Clay" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Clay" name="Soil" class="visually-hidden">
        Clay
    </label>
</div>
<div id="Soil-Sand" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Sand" name="Soil" class="visually-hidden">
        Sand
    </label>
</div>
<div id="Soil-Loam" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Loam" name="Soil" class="visually-hidden">
        Loam
    </label>
</div>

<!-- -------------------------SOIL PH------------------------- -->
<h3>Soil pH</h3>
<div id="Soil-pH-Acidic" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Acidic" name="Soil-pH" class="visually-hidden">
        Acidic (pH&lt7)
    </label>
</div>
<div id="Soil-pH-Neutral" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Neutral" name="Soil-pH" class="visually-hidden">
        Neutral (pH=7)
    </label>
</div>
<div id="Soil-pH-Alkaline" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Alkaline" name="Soil-pH" class="visually-hidden">
        Alkaline (pH&gt7)
    </label>
</div>

<!-- -------------------------WATER------------------------- -->
<h3>Water</h3>
<div id="Water-High" class="selectbox unselected">
    <label>
        <input type="checkbox" value="High" name="Water" class="visually-hidden">
        High
    </label>
</div>
<div id="Water-Moderate" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Moderate" name="Water" class="visually-hidden">
        Moderate
    </label>
</div>
<div id="Water-Low" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Low" name="Water" class="visually-hidden">
        Low
    </label>
</div>

<!-- -------------------------TOLERANCE------------------------- -->
<h3>Tolerance</h3>
<table cellspacing="10px" cellpadding="10px">
    <tr>
        <th align="left">Heat</th>
        <td><label class="radiobox">
                <input type="radio" name="Tolerance-Heat" value="on" id="Tolerance-Heat-on">
                Yes
            </label></td>
        <td><label class="radiobox">
                <input type="radio" name="Tolerance-Heat" value="off" id="Tolerance-Heat-off">
                No
            </label></td>
    </tr>
    <tr>
        <th align="left">Drought</th>
        <td>
            <label class="radiobox">
                <input type="radio" name="Tolerance-Drought" value="on" id="Tolerance-Drought-on">
                Yes
            </label>
        </td>
        <td>
            <label class="radiobox">
                <input type="radio" name="Tolerance-Drought" value="off" id="Tolerance-Drought-off">
                No
            </label>
        </td>
    </tr>
    <tr>
        <th align="left">Frost</th>
        <td>
            <label class="radiobox">
                <input type="radio" name="Tolerance-Frost" value="on" id="Tolerance-Frost-on">
                Yes
            </label>
        </td>
        <td>
            <label class="radiobox">
                <input type="radio" name="Tolerance-Frost" value="off" id="Tolerance-Frost-off">
                No
            </label>
        </td>
    </tr>
    <tr>
        <th align="left">Salt</th>
        <td>
            <label class="radiobox">
                <input type="radio" name="Tolerance-Salt" value="Good" id="Tolerance-Salt-Good">
                Good
            </label>
        </td>
        <td>
            <label class="radiobox">
                <input type="radio" name="Tolerance-Salt" value="Moderate" id="Tolerance-Salt-Moderate">
                Moderate
            </label>
        </td>
        <td>
            <label class="radiobox">
                <input type="radio" name="Tolerance-Salt" value="Poor" id="Tolerance-Salt-Poor">
                Poor
            </label>
        </td>
    </tr>
</table>

<!-- -------------------------Life Cycle------------------------- -->
<h3>Life Cycle</h3>
<div id="life-cycle-radio-wrapper">
    <label class="radiobox"><input type="radio" name="Life-Cycle" value="Annual" id="Life-Cycle-Annual"> Annual
    </label>
    <label class="radiobox"><input type="radio" name="Life-Cycle" value="Perennial" id="Life-Cycle-Perennial">
        Perennial </label>
    <label class="radiobox"><input type="radio" name="Life-Cycle" value="Biennial" id="Life-Cycle-Biennial">
        Biennial </label>
</div>