<!-- -------------------------Flower Color------------------------- -->

<h3>Flower Color</h3>

<div id="Flower-Color-White" class="selectbox unselected">
    <label>
        <input type="checkbox" value="White" name="Flower-Color" class="visually-hidden">
        White
    </label>
</div>

<div id="Flower-Color-Pink" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Pink" name="Flower-Color" class="visually-hidden">
        Pink
    </label>
</div>

<div id="Flower-Color-Purple" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Purple" name="Flower-Color" class="visually-hidden">
        Purple
    </label>
</div>

<div id="Flower-Color-Blue" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Blue" name="Flower-Color" class="visually-hidden">
        Blue
    </label>
</div>

<div id="Flower-Color-Red" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Red" name="Flower-Color" class="visually-hidden">
        Red
    </label>
</div>

<div id="Flower-Color-Green" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Green" name="Flower-Color" class="visually-hidden">
        Green
    </label>
</div>

<div id="Flower-Color-Yellow" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Yellow" name="Flower-Color" class="visually-hidden">
        Yellow
    </label>
</div>

<div id="Flower-Color-Orange" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Orange" name="Flower-Color" class="visually-hidden">
        Orange
    </label>
</div>

<div id="Flower-Color-Brown" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Brown" name="Flower-Color" class="visually-hidden">
        Brown
    </label>
</div>


<!-- -------------------------Flower-Scent------------------------- -->
<h3>Flower Scent</h3>
<div id="flower-scent-radio-wrapper">
    <label class="radiobox"><input type="radio" name="Flower-Scent" value="Pleasant" id="Flower-Scent-Pleasant">
        Pleasant
    </label>
    <label class="radiobox"><input type="radio" name="Flower-Scent" value="Unpleasant" id="Flower-Scent-Unpleasant">
        Unpleasant </label>
    <label class="radiobox"><input type="radio" name="Flower-Scent" value="No-Fragrance" id="Flower-Scent-No-Fragrance">
        No-Fragrance </label>
</div>

<!-- -------------------------Flower Season------------------------- -->
<h3>Flower Season</h3>
<div id="flower-season-radio-wrapper">
    <label class="radiobox"><input type="radio" name="Flower-Season" value="Spring" id="Flower-Season-Spring"> Spring
    </label>
    <label class="radiobox"><input type="radio" name="Flower-Season" value="Summer" id="Flower-Season-Summer">
        Summer </label>
    <label class="radiobox"><input type="radio" name="Flower-Season" value="Fall" id="Flower-Season-Fall">
        Fall </label>
    <label class="radiobox"><input type="radio" name="Flower-Season" value="Winter" id="Flower-Season-Winter">
        Winter </label>
    <label class="radiobox"><input type="radio" name="Flower-Season" value="Year Round" id="Flower-Season-Year-Round">
        Year Round </label>
</div>

<!-- -------------------------Flower Showiness------------------------- -->
<h3>Flower Showiness</h3>
<div id="flower-showiness-radio-wrapper">
    <label class="radiobox"><input type="radio" name="Flower-Showiness" value="Yes" id="Flower-Showiness-Yes"> Yes
    </label>
    <label class="radiobox"><input type="radio" name="Flower-Showiness" value="No" id="Flower-Showiness-No">
        No </label>
</div>