<!-- -------------------------Fruit Color------------------------- -->

<h3>Fruit Color</h3>

<div id="Fruit-Color-Yellow" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Yellow" name="Fruit-Color" class="visually-hidden">
        Yellow
    </label>
</div>

<div id="Fruit-Color-Red" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Red" name="Fruit-Color" class="visually-hidden">
        Red
    </label>
</div>

<div id="Fruit-Color-Blue" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Blue" name="Fruit-Color" class="visually-hidden">
        Blue
    </label>
</div>

<div id="Fruit-Color-White" class="selectbox unselected">
    <label>
        <input type="checkbox" value="White" name="Fruit-Color" class="visually-hidden">
        White
    </label>
</div>

<div id="Fruit-Color-Pink" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Pink" name="Fruit-Color" class="visually-hidden">
        Pink
    </label>
</div>

<div id="Fruit-Color-Purple" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Purple" name="Fruit-Color" class="visually-hidden">
        Purple
    </label>
</div>

<div id="Fruit-Color-Green" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Green" name="Fruit-Color" class="visually-hidden">
        Green
    </label>
</div>

<div id="Fruit-Color-Gray" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Gray" name="Fruit-Color" class="visually-hidden">
        Gray
    </label>
</div>

<div id="Fruit-Color-Orange" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Orange" name="Fruit-Color" class="visually-hidden">
        Orange
    </label>
</div>

<div id="Fruit-Color-Brown" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Brown" name="Fruit-Color" class="visually-hidden">
        Brown
    </label>
</div>

<div id="Fruit-Color-Black" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Black" name="Fruit-Color" class="visually-hidden">
        Black
    </label>
</div>

<!-- -------------------------Fruit Showiness------------------------- -->
<h3>Fruit Showiness</h3>
<div id="flower-showiness-radio-wrapper">
    <label class="radiobox"><input type="radio" name="Fruit-Showiness" value="Yes" id="Fruit-Showiness-Yes"> Yes
    </label>
    <label class="radiobox"><input type="radio" name="Fruit-Showiness" value="No" id="Fruit-Showiness-No">
        No </label>
</div>

<!-- -------------------------Fruit Type------------------------- -->
<h3>Fruit Type</h3>
<div id="flower-showiness-radio-wrapper">
    <label class="radiobox"><input type="radio" name="Fruit-Type" value="Dry" id="Fruit-Type-Dry"> Dry
    </label>
    <label class="radiobox"><input type="radio" name="Fruit-Type" value="Fleshy" id="Fruit-Type-Fleshy">
        Fleshy </label>
</div>

<!-- -------------------------Fruit Season------------------------- -->
<h3>Fruit Season</h3>
<div id="flower-season-radio-wrapper">
    <label class="radiobox"><input type="radio" name="Fruit-Season" value="Spring" id="Fruit-Season-Spring"> Spring
    </label>
    <label class="radiobox"><input type="radio" name="Fruit-Season" value="Summer" id="Fruit-Season-Summer">
        Summer </label>
    <label class="radiobox"><input type="radio" name="Fruit-Season" value="Fall" id="Fruit-Season-Fall">
        Fall </label>
    <label class="radiobox"><input type="radio" name="Fruit-Season" value="Winter" id="Fruit-Season-Winter">
        Winter </label>
    <label class="radiobox"><input type="radio" name="Fruit-Season" value="Year Round" id="Fruit-Season-Year-Round">
        Year Round </label>
</div>

<!-- -------------------------Fruit Size------------------------- -->
<h3>Fruit Size</h3>

<div id="Fruit-Size-20plus" class="selectbox unselected">
    <label>
        <input type="checkbox" value=">20 cm" name="Fruit-Size" class="visually-hidden">
        &gt20 (cm)
    </label>
</div>

<div id="Fruit-Size-10-20" class="selectbox unselected">
    <label>
        <input type="checkbox" value="10 to 20 cm" name="Fruit-Size" class="visually-hidden">
        10-20 (cm)
    </label>
</div>

<div id="Fruit-Size-7-10" class="selectbox unselected">
    <label>
        <input type="checkbox" value="7 to 10 cm" name="Fruit-Size" class="visually-hidden">
        7-10 (cm)
    </label>
</div>

<div id="Fruit-Size-3-7" class="selectbox unselected">
    <label>
        <input type="checkbox" value="3 to 7 cm" name="Fruit-Size" class="visually-hidden">
        3-7 (cm)
    </label>
</div>

<div id="Fruit-Size-1.5-3" class="selectbox unselected">
    <label>
        <input type="checkbox" value="1.5 to 3 cm" name="Fruit-Size" class="visually-hidden">
        1.5-3 (cm)
    </label>
</div>

<div id="Fruit-Size-1.5less" class="selectbox unselected">
    <label>
        <input type="checkbox" value="0 to 1.5 cm" name="Fruit-Size" class="visually-hidden">
        &lt1.5 (cm)
    </label>
</div>