<!-- -------------------------Color in Growing Season------------------------- -->

<h3>Color in Growing Season</h3>

<div id="Color-In-Growing-Season-Green" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Color-In-Growing-Season-Green" class="visually-hidden">
        Green
    </label>
</div>

<div id="Color-In-Growing-Season-Purple" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Color-In-Growing-Season-Purple" class="visually-hidden">
        Purple
    </label>
</div>

<div id="Color-In-Growing-Season-Red" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Color-In-Growing-Season-Red" class="visually-hidden">
        Red
    </label>
</div>

<div id="Color-In-Growing-Season-Yellow" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Color-In-Growing-Season-Yellow" class="visually-hidden">
        Yellow
    </label>
</div>

<div id="Color-In-Growing-Season-Blue-Blue-Green" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Color-In-Growing-Season-Blue-Blue-Green" class="visually-hidden">
        Blue/Blue-Green
    </label>
</div>

<div id="Color-In-Growing-Season-Silver" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Color-In-Growing-Season-Silver" class="visually-hidden">
        Silver
    </label>
</div>

<div id="Color-In-Growing-Season-Variegated" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Color-In-Growing-Season-Variegated" class="visually-hidden">
        Variegated
    </label>
</div>

<!-- -------------------------Color in Changing Season------------------------- -->

<h3>Color in Changing Season</h3>

<div id="Color-In-Changing-Season-Green" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Color-In-Changing-Season-Green" class="visually-hidden">
        Green
    </label>
</div>

<div id="Color-In-Changing-Season-Purple" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Color-In-Changing-Season-Purple" class="visually-hidden">
        Purple
    </label>
</div>

<div id="Color-In-Changing-Season-Red" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Color-In-Changing-Season-Red" class="visually-hidden">
        Red
    </label>
</div>

<div id="Color-In-Changing-Season-Yellow" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Color-In-Changing-Season-Yellow" class="visually-hidden">
        Yellow
    </label>
</div>

<div id="Color-In-Changing-Season-Orange" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Color-In-Changing-Season-Orange" class="visually-hidden">
        Orange
    </label>
</div>

<div id="Color-In-Changing-Season-Brown" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Color-In-Changing-Season-Brown" class="visually-hidden">
        Brown
    </label>
</div>

<div id="Color-In-Changing-Season-Copper" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Color-In-Changing-Season-Copper" class="visually-hidden">
        Copper
    </label>
</div>

<!-- -------------------------Persistance------------------------- -->
<h3>Persistance</h3>
<div id="persistance-radio-wrapper">
    <label class="radiobox"><input type="radio" name="Persistance" value="Evergreen" id="Persistance-Evergreen">
        Evergreen
    </label>
    <label class="radiobox"><input type="radio" name="Persistance" value="Semi-Evergreen"
            id="Persistance-Semi-Evergreen">
        Semi Evergreen </label>
    <label class="radiobox"><input type="radio" name="Persistance" value="Deciduous" id="Persistance-Deciduous">
        Deciduous </label>
</div>

<!-- -------------------------Leaf-Scent------------------------- -->
<h3>Leaf Scent</h3>
<div id="leaf-scent-radio-wrapper">
    <label class="radiobox"><input type="radio" name="Leaf-Scent" value="Pleasant" id="Leaf-Scent-Pleasant"> Pleasant
    </label>
    <label class="radiobox"><input type="radio" name="Leaf-Scent" value="Unpleasant" id="Leaf-Scent-Unpleasant">
        Unpleasant </label>
    <label class="radiobox"><input type="radio" name="Leaf-Scent" value="No-Fragrance" id="Leaf-Scent-No-Fragrance">
        No Fragrance </label>
</div>