<!-- -------------------------Edible Plant Parts------------------------- -->
<h3>Edible Plant Parts</h3>
<div id="management-edible-radio-wrapper">
    <label class="radiobox"><input type="radio" name="management-edible" value="Yes" id="management-edible-Yes"> Yes
    </label>
    <label class="radiobox"><input type="radio" name="management-edible" value="No" id="management-edible-No">
        No </label>
</div>

<!-- -------------------------Fruit/ Leaves/ Flower Litter------------------------- -->
<h3>Fruit/ Leaves/ Flower Litter</h3>
<div id="management-litter-radio-wrapper">
    <label class="radiobox"><input type="radio" name="management-litter" value="Yes" id="management-litter-Yes"> Yes
    </label>
    <label class="radiobox"><input type="radio" name="management-litter" value="No" id="management-litter-No">
        No </label>
</div>

<!-- -------------------------Surface Rooting------------------------- -->
<h3>Surface Rooting</h3>
<div id="management-rooting-radio-wrapper">
    <label class="radiobox"><input type="radio" name="management-rooting" value="Yes" id="management-rooting-Yes"> Yes
    </label>
    <label class="radiobox"><input type="radio" name="management-rooting" value="No" id="management-rooting-No">
        No </label>
</div>

<!-- -------------------------Plant Toxicity------------------------- -->
<h3>Plant Toxicity</h3>
<div id="management-toxicity-radio-wrapper">
    <label class="radiobox"><input type="radio" name="management-toxicity" value="Yes" id="management-toxicity-Yes"> Yes
    </label>
    <label class="radiobox"><input type="radio" name="management-toxicity" value="No" id="management-toxicity-No">
        No </label>
</div>

<!-- -------------------------Invasive Potential------------------------- -->
<h3>Invasive Potential</h3>
<div id="management-potential-radio-wrapper">
    <label class="radiobox"><input type="radio" name="management-potential" value="Yes" id="management-potential-Yes">
        Yes
    </label>
    <label class="radiobox"><input type="radio" name="management-potential" value="No" id="management-potential-No">
        No </label>
</div>

<!-- -------------------------Pruning Requirements------------------------- -->
<h3>Pruning Requirements</h3>
<div id="management-pruning-radio-wrapper">
    <label class="radiobox"><input type="radio" name="management-pruning" value="Needed" id="management-pruning-Needed">
        Needed
    </label>
    <label class="radiobox"><input type="radio" name="management-pruning" value="Little-Needed"
            id="management-pruning-Little-Needed">
        Little Needed </label>
    <label class="radiobox"><input type="radio" name="management-pruning" value="None" id="management-pruning-None">
        None </label>
</div>

<!-- -------------------------Suceptibility to Diseases------------------------- -->
<h3>Suceptibility to Diseases</h3>
<div id="management-diseases-radio-wrapper">
    <label class="radiobox"><input type="radio" name="management-diseases" value="Yes" id="management-diseases-Yes"> Yes
    </label>
    <label class="radiobox"><input type="radio" name="management-diseases" value="No" id="management-diseases-No">
        No </label>
</div>

<!-- -------------------------Life Span (years)------------------------- -->
<h3>Life Span (years)</h3>
<div id="management-lifespan-radio-wrapper">
    <label class="radiobox"><input type="radio" name="management-lifespan" value="25less" id="management-lifespan-25less">
        &lt25
    </label>
    <label class="radiobox"><input type="radio" name="management-lifespan" value="25-50"
            id="management-lifespan-25-50">
        25-50 </label>
    <label class="radiobox"><input type="radio" name="management-lifespan" value="50plus" id="management-lifespan-50plus">
        &gt50 </label>
</div>
