<!-- -------------------------Canopy Shape------------------------- -->

<h3>Canopy-Shape</h3>

<div id="Canopy-Shape-Weeping" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Canopy-Shape-Weeping" class="visually-hidden">
        Weeping
    </label>
</div>

<div id="Canopy-Shape-Upright-Erect" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Canopy-Shape-Upright-Erect" class="visually-hidden">
        Upright/Erect
    </label>
</div>

<div id="Canopy-Shape-Vase" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Canopy-Shape-Vase" class="visually-hidden">
        Vase
    </label>
</div>

<div id="Canopy-Shape-Pyramidal" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Canopy-Shape-Pyramidal" class="visually-hidden">
        Pyramidal
    </label>
</div>

<div id="Canopy-Shape-Rounded" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Canopy-Shape-Rounded" class="visually-hidden">
        Rounded
    </label>
</div>

<div id="Canopy-Shape-Columnar" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Canopy-Shape-Columnar" class="visually-hidden">
        Columnar
    </label>
</div>

<div id="Canopy-Shape-Oval" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Canopy-Shape-Oval" class="visually-hidden">
        Oval
    </label>
</div>

<div id="Canopy-Shape-Palm" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Canopy-Shape-Palm" class="visually-hidden">
        Palm
    </label>
</div>

<div id="Canopy-Shape-Spreading" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Canopy-Shape-Spreading" class="visually-hidden">
        Spreading
    </label>
</div>

<!-- -------------------------Plant Height------------------------- -->
<h3>Plant Height</h3>

<div id="Plant-Height-23plus" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Plant-Height-23plus" class="visually-hidden">
        &gt23 (m)
    </label>
</div>

<div id="Plant-Height-15-23" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Plant-Height-15-23" class="visually-hidden">
        15-23 (m)
    </label>
</div>

<div id="Plant-Height-8-15" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Plant-Height-8-15" class="visually-hidden">
        8-15 (m)
    </label>
</div>

<div id="Plant-Height-5-8" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Plant-Height-5-8" class="visually-hidden">
        5-8 (m)
    </label>
</div>

<div id="Plant-Height-3-5" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Plant-Height-3-5" class="visually-hidden">
        3-5 (m)
    </label>
</div>

<div id="Plant-Height-1.5-3" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Plant-Height-1.5-3" class="visually-hidden">
        1.5-3 (m)
    </label>
</div>

<div id="Plant-Height-1-1.5" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Plant-Height-1-1.5" class="visually-hidden">
        1-1.5 (m)
    </label>
</div>

<div id="Plant-Height-0.5-1" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Plant-Height-0.5-1" class="visually-hidden">
        0.5-1 (m)
    </label>
</div>

<div id="Plant-Height-0.5less" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Plant-Height-0.5less" class="visually-hidden">
        &lt0.5 (m)
    </label>
</div>


<!-- -------------------------Plant Spread------------------------- -->
<h3>Plant Spread</h3>

<div id="Plant-Spread-23plus" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Plant-Spread-23plus" class="visually-hidden">
        &gt23 (m)
    </label>
</div>

<div id="Plant-Spread-15-23" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Plant-Spread-15-23" class="visually-hidden">
        15-23 (m)
    </label>
</div>

<div id="Plant-Spread-8-15" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Plant-Spread-8-15" class="visually-hidden">
        8-15 (m)
    </label>
</div>

<div id="Plant-Spread-5-8" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Plant-Spread-5-8" class="visually-hidden">
        5-8 (m)
    </label>
</div>

<div id="Plant-Spread-3-5" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Plant-Spread-3-5" class="visually-hidden">
        3-5 (m)
    </label>
</div>

<div id="Plant-Spread-1.5-3" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Plant-Spread-1.5-3" class="visually-hidden">
        1.5-3 (m)
    </label>
</div>

<div id="Plant-Spread-1-1.5" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Plant-Spread-1-1.5" class="visually-hidden">
        1-1.5 (m)
    </label>
</div>

<div id="Plant-Spread-0.5-1" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Plant-Spread-0.5-1" class="visually-hidden">
        0.5-1 (m)
    </label>
</div>

<div id="Plant-Spread-0.5less" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Plant-Spread-0.5less" class="visually-hidden">
        &lt0.5 (m)
    </label>
</div>

<!-- -------------------------Time to Ultimate Height------------------------- -->
<h3>Time to Ultimate Height</h3>

<div id="Time-to-Ultimate-Height-50plus" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Time-to-Ultimate-Height-50plus" class="visually-hidden">
        &gt50 (years)
    </label>
</div>

<div id="Time-to-Ultimate-Height-20-50" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Time-to-Ultimate-Height-20-50" class="visually-hidden">
        20-50 (years)
    </label>
</div>

<div id="Time-to-Ultimate-Height-10-20" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Time-to-Ultimate-Height-10-20" class="visually-hidden">
        10-20 (years)
    </label>
</div>

<div id="Time-to-Ultimate-Height-5-10" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Time-to-Ultimate-Height-5-10" class="visually-hidden">
        5-10 (years)
    </label>
</div>

<div id="Time-to-Ultimate-Height-2-5" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Time-to-Ultimate-Height-2-5" class="visually-hidden">
        2-5 (years)
    </label>
</div>

<div id="Time-to-Ultimate-Height-1-2" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Time-to-Ultimate-Height-1-2" class="visually-hidden">
        1-2 (years)
    </label>
</div>


<div id="Time-to-Ultimate-Height-0-1" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Time-to-Ultimate-Height-0-1" class="visually-hidden">
        0-1 (years)
    </label>
</div>

<!-- -------------------------Growth Rate------------------------- -->
<h3>Growth Rate</h3>
<div id="growth-rate-radio-wrapper">
    <label class="radiobox"><input type="radio" name="Growth-Rate" value="Slow" id="Growth-Rate-Slow"> Slow
    </label>
    <label class="radiobox"><input type="radio" name="Growth-Rate" value="Moderate" id="Growth-Rate-Moderate">
        Moderate </label>
    <label class="radiobox"><input type="radio" name="Growth-Rate" value="Fast" id="Growth-Rate-Fast">
        Fast </label>
</div>