<!-- -------------------------Trunk Esthetic Value------------------------- -->

<h3>Trunk Esthetic Value</h3>

<div id="Trunk-Esthetic-Value-Showy" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Trunk-Esthetic-Value-Showy" class="visually-hidden">
        Showy
    </label>
</div>

<div id="Trunk-Esthetic-Value-Not-Showy" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Trunk-Esthetic-Value-Not-Showy" class="visually-hidden">
        Not Showy
    </label>
</div>

<div id="Trunk-Esthetic-Value-Smooth-Texture" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Trunk-Esthetic-Value-Smooth-Texture" class="visually-hidden">
        Smooth Texture
    </label>
</div>

<div id="Trunk-Esthetic-Value-Intermediate-Texture" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Trunk-Esthetic-Value-Intermediate-Texture" class="visually-hidden">
        Intermediate Texture
    </label>
</div>

<div id="Trunk-Esthetic-Value-Rough-Texture" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Trunk-Esthetic-Value-Rough-Texture" class="visually-hidden">
        Rough Texture
    </label>
</div>

<div id="Trunk-Esthetic-Value-Deeply-Fissured" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Trunk-Esthetic-Value-Deeply-Fissured" class="visually-hidden">
        Deeply Fissured
    </label>
</div>

<div id="Trunk-Esthetic-Value-Papery" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Trunk-Esthetic-Value-Papery" class="visually-hidden">
        Papery
    </label>
</div>

<div id="Trunk-Esthetic-Value-Spines" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Trunk-Esthetic-Value-Spines" class="visually-hidden">
        Spines
    </label>
</div>

<div id="Trunk-Esthetic-Value-Colored" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Trunk-Esthetic-Value-Colored" class="visually-hidden">
        Colored
    </label>
</div>

<!-- -------------------------Crownshaft (for palms)------------------------- -->
<h3>Crownshaft (for palms)</h3>
<div id="crownshaft-radio-wrapper">
    <label class="radiobox"><input type="radio" name="Crownshaft" value="Available" id="Crownshaft-Available"> Available
    </label>
    <label class="radiobox"><input type="radio" name="Crownshaft" value="Not-Available" id="Crownshaft-Not-Available">
        Not Available </label>
</div>
