<!-- -------------------------Outdoor------------------------- -->

<h3>Outdoor</h3>

<div id="Outdoor-Screen" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Screen" name="Outdoor" class="visually-hidden">
        Screen
    </label>
</div>

<div id="Outdoor-Hedge" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Hedge" name="Outdoor" class="visually-hidden">
        Hedge
    </label>
</div>

<div id="Outdoor-Border-Plant" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Border Plant" name="Outdoor" class="visually-hidden">
        Border Plant
    </label>
</div>

<div id="Outdoor-Mass-Planting" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Mass Planting" name="Outdoor" class="visually-hidden">
        Mass Planting
    </label>
</div>

<div id="Outdoor-Specimen" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Specimen" name="Outdoor" class="visually-hidden">
        Specimen
    </label>
</div>

<div id="Outdoor-Street" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Street" name="Outdoor" class="visually-hidden">
        Street
    </label>
</div>


<!-- -------------------------Specialized------------------------- -->
<h3>Specialized</h3>

<div id="Specialized-Topiary" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Topiary" name="Specialized" class="visually-hidden">
        Topiary
    </label>
</div>

<div id="Specialized-Bonsai" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Bonsai" name="Specialized" class="visually-hidden">
        Bonsai
    </label>
</div>

<div id="Specialized-Espalier" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Espalier" name="Specialized" class="visually-hidden">
        Espalier
    </label>
</div>

<div id="Specialized-Indoor" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Indoor" name="Specialized" class="visually-hidden">
        Indoor
    </label>
</div>

<div id="Specialized-Container" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Container" name="Specialized" class="visually-hidden">
        Container
    </label>
</div>

<div id="Specialized-Sports-Field" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Sports Field" name="Specialized" class="visually-hidden">
        Sports Field
    </label>
</div>

<!-- -------------------------Native Environment------------------------- -->
<h3>Native Environment</h3>

<div id="Native-Environment-Shade" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Shade" name="Native-Environment" class="visually-hidden">
        Shade
    </label>
</div>

<div id="Native-Environment-Windbreak" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Windbreak" name="Native-Environment" class="visually-hidden">
        Windbreak
    </label>
</div>

<div id="Native-Environment-Erosion-Control" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Erosion-Control" name="Native-Environment" class="visually-hidden">
        Erosion-Control
    </label>
</div>

<div id="Native-Environment-Pollution-Tolerant-Urban" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Pollution Tolerant/Urban" name="Native-Environment" class="visually-hidden">
        Pollution Tolerant/Urban
    </label>
</div>

<div id="Native-Environment-Reclamation" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Reclamation" name="Native-Environment" class="visually-hidden">
        Reclamation
    </label>
</div>

<div id="Native-Environment-Wildlife" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Wildlife" name="Native-Environment" class="visually-hidden">
        Wildlife
    </label>
</div>

<div id="Native-Environment-Native-To-Lebanon" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Native To Lebanon" name="Native-Environment" class="visually-hidden">
        Native To Lebanon
    </label>
</div>

<!-- -------------------------Human Use------------------------- -->
<h3>Human Use</h3>

<div id="Human-Use-Edible" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Edible" name="Human-Use" class="visually-hidden">
        Edible
    </label>
</div>

<div id="Human-Use-Medicinal" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Medicinal" name="Human-Use" class="visually-hidden">
        Medicinal
    </label>
</div>

<div id="Human-Use-Cut-Flower-Arrangement" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Cut Flower/Arrangement" name="Human-Use" class="visually-hidden">
        Cut Flower/Arrangement
    </label>
</div>

<!-- -------------------------Building------------------------- -->
<h3>Building</h3>

<div id="Building-Intensive-Green-Roof" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Intensive Green Roof" name="Building" class="visually-hidden">
        Intensive Green Roof
    </label>
</div>

<div id="Building-Extensive-Green-Roof" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Extensive Green Roof" name="Building" class="visually-hidden">
        Extensive Green Roof
    </label>
</div>

<div id="Building-Facade" class="selectbox unselected">
    <label>
        <input type="checkbox" value="Facade" name="Building" class="visually-hidden">
        Facade
    </label>
</div>