<!-- -------------------------Outdoor------------------------- -->

<h3>Outdoor</h3>

<div id="Outdoor-Screen" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Outdoor-Screen" class="visually-hidden">
        Screen
    </label>
</div>

<div id="Outdoor-Hedge" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Outdoor-Hedge" class="visually-hidden">
        Hedge
    </label>
</div>

<div id="Outdoor-Border-Plant" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Outdoor-Border-Plant" class="visually-hidden">
        Border Plant
    </label>
</div>

<div id="Outdoor-Mass-Planting" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Outdoor-Mass-Planting" class="visually-hidden">
        Mass Planting
    </label>
</div>

<div id="Outdoor-Specimen" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Outdoor-Specimen" class="visually-hidden">
        Specimen
    </label>
</div>

<div id="Outdoor-Street" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Outdoor-Street" class="visually-hidden">
        Street
    </label>
</div>


<!-- -------------------------Specialized------------------------- -->
<h3>Specialized</h3>

<div id="Specialized-Topiary" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Specialized-Topiary" class="visually-hidden">
        Topiary
    </label>
</div>

<div id="Specialized-Bonsai" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Specialized-Bonsai" class="visually-hidden">
        Bonsai
    </label>
</div>

<div id="Specialized-Espalier" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Specialized-Espalier" class="visually-hidden">
        Espalier
    </label>
</div>

<div id="Specialized-Indoor" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Specialized-Indoor" class="visually-hidden">
        Indoor
    </label>
</div>

<div id="Specialized-Container" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Specialized-Container" class="visually-hidden">
        Container
    </label>
</div>

<div id="Specialized-Sports-Field" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Specialized-Sports-Field" class="visually-hidden">
        Sports Field
    </label>
</div>

<!-- -------------------------Native Environment------------------------- -->
<h3>Native Environment</h3>

<div id="Native-Environment-Shade" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Native-Environment-Shade" class="visually-hidden">
        Shade
    </label>
</div>

<div id="Native-Environment-Windbreak" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Native-Environment-Windbreak" class="visually-hidden">
        Windbreak
    </label>
</div>

<div id="Native-Environment-Erosion-Control" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Native-Environment-Erosion-Control" class="visually-hidden">
        Erosion-Control
    </label>
</div>

<div id="Native-Environment-Pollution-Tolerant-Urban" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Native-Environment-Pollution-Tolerant-Urban" class="visually-hidden">
        Pollution Tolerant/Urban
    </label>
</div>

<div id="Native-Environment-Reclamation" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Native-Environment-Reclamation" class="visually-hidden">
        Reclamation
    </label>
</div>

<div id="Native-Environment-Wildlife" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Native-Environment-Wildlife" class="visually-hidden">
        Wildlife
    </label>
</div>

<div id="Native-Environment-Native-To-Lebanon" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Native-Environment-Native-To-Lebanon" class="visually-hidden">
        Native To Lebanon
    </label>
</div>

<!-- -------------------------Human Use------------------------- -->
<h3>Human Use</h3>

<div id="Human-Use-Edible" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Human-Use-Edible" class="visually-hidden">
        Edible
    </label>
</div>

<div id="Human-Use-Medicinal" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Human-Use-Medicinal" class="visually-hidden">
        Medicinal
    </label>
</div>

<div id="Human-Use-Cut-Flower-Arrangement" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Human-Use-Cut-Flower-Arrangement" class="visually-hidden">
        Cut Flower/Arrangement
    </label>
</div>

<!-- -------------------------Building------------------------- -->
<h3>Building</h3>

<div id="Building-Intensive-Green-Roof" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Building-Intensive-Green-Roof" class="visually-hidden">
        Intensive Green Roof
    </label>
</div>

<div id="Building-Extensive-Green-Roof" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Building-Extensive-Green-Roof" class="visually-hidden">
        Extensive Green Roof
    </label>
</div>

<div id="Building-Facade" class="selectbox unselected">
    <label>
        <input type="checkbox" value="on" name="Building-Facade" class="visually-hidden">
        Facade
    </label>
</div>