#Light-Full {
  position: relative;
}
form div {
  width: fit-content;
  display: inline-block;
  text-align: center;
  padding: 2px;
}
form h3 {
  margin-top: 50px;
}
.unselected {
  border: none;
}
.selected {
  border: 3px solid #2d6a4fff;
}

.visually-hidden {
  position: absolute;
  /* z-index: -99; */
  /* opacity: 0; */
}
