colors {
  --nyanza: #d8f3dcff;
  --turquoise-green: #b7e4c7ff;
  --turquoise-green-2: #95d5b2ff;
  --ocean-green: #74c69dff;
  --ocean-green-2: #52b788ff;
  --illuminating-emerald: #40916cff;
  --bottle-green: #2d6a4fff;
  --brunswick-green: #1b4332ff;
  --dark-jungle-green: rgb(150, 155, 153);
}

#tabs {
  display: flex;
  flex-direction: row;
  background-color: #52b788ff;
  justify-content: space-evenly;
  padding-top: 4px;
  margin-top: -3px;
}
#tabs > li > button {
  border: none;
  padding: 5px;
  font-size: 15px;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
}
#tabs > li > button:active {
  box-shadow: inset 1px 1px black;
}

.tabs-selected {
  color: black;
  background-color: white;
  border: none;
}
.tabs-done {
  color: white;
  background-color: inherit;
}

#tab-container {
  padding: 50px;
}

.tab-container-selected {
  display: block;
}

.tab-container-hidden {
  display: none;
}
