colors {
  --nyanza: #d8f3dcff;
  --turquoise-green: #b7e4c7ff;
  --turquoise-green-2: #95d5b2ff;
  --ocean-green: #74c69dff;
  --ocean-green-2: #52b788ff;
  --illuminating-emerald: #40916cff;
  --bottle-green: #2d6a4fff;
  --brunswick-green: #1b4332ff;
  --dark-jungle-green: #081c15ff;
}

/* Admin Button */
#get-admin-btn {
  float: right;
  margin-top: 70px;
  margin-right: 50px;
}
#get-admin-btn > a {
  color: white;
  background-color: #2d6a4fff;
  border: #1b4332ff solid 2px;
  box-shadow: 3px 3px 2px #40916cff;
  font-size: x-large;
  padding: 20px;
  margin: 5px 5px 0 0;
}
#get-admin-btn > a:hover {
  box-shadow: inset 2px 2px 2px #1b4332ff;
}

#about-us {
  width: 80%;
  padding: 50px;
  border-bottom: 5px dashed rgba(255, 255, 255, 0.486);
}
#about-us > div {
  width: 80%;
  color: rgb(255, 255, 255);
}
#about-us > div > p {
  font-size: 16px;
}
#show-more {
  color: #2d6a4f;
  font-size: 14px;
}
#show-more:hover {
  cursor: pointer;
}
#hidden-about-us {
  display: none;
}

/* Section Spotlight + searching */
#spotlight-search {
  margin: 100px 50px 50px 50px;
  display: flex;
  justify-content: space-between;
  color: white;
  flex-wrap: wrap;
}

#spotlight-left {
  flex: 1;
}
#spotlight-left > img {
  border: 1px dashed black;
  min-width: 200px;
  min-height: 200px;
}
#spotlight-left > h1 {
  font-weight: bold;
  color: white;
  background-color: #74c69dff;
}
#spotlight-left > p {
  margin-bottom: 80px;
}
#spotlight-left > p > a {
  color: white;
  background-color: #2d6a4fff;
  font-size: larger;
  padding: 10px 10px;
}

#search-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#search-btn-container{
  margin-top: 150px
}