/* colors {
    --nyanza: #d8f3dcff;
    --turquoise-green: #b7e4c7ff;
    --turquoise-green-2: #95d5b2ff;
    --ocean-green: #74c69dff;
    --ocean-green-2: #52b788ff;
    --illuminating-emerald: #40916cff;
    --bottle-green: #2d6a4fff;
    --brunswick-green: #1b4332ff;
    --dark-jungle-green: #081c15ff;
} */

main {
    display: flex;
    margin: 10px 50px 10px 0;
}

/* Profile Container */
#profile-container {
    flex: auto;
    border: 5px solid black;
    padding: 5px;
}
h3 {
    background-color: black;
    color: white;
    width: 100%;
    border-radius: 0px;
}

/* Beginning Text */
h4 {
    font-size: 1.5em;
}
#plant-name {
    color: green;
}
#plant-description {
    margin-top: 10px;
    margin-bottom: 30px;
}

/* Tab Buttons */
#tabs-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #2d6a4fff;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}
.tab {
    color: white;
    background-color: #40916cff;
    border-color: #52b788ff;
    padding: 2px;
}
.selected-tab {
    background-color: #52b788ff;
    border-color: #b7e4c7ff;
}

/* Tabs */
#plant-content {
    display: flex;
}
#plant-images {
    flex: auto;
    width: 50%;
}
#plant-tab {
}

#plant-tab-landscape {
    display: block;
}
#plant-tab-botanical {
    display: none;
}
#plant-tab-horticulture {
    display: none;
}

#image-sidebar{

    display: inline-flex;
    float: left;
    -webkit-flex-direction: column; 
    flex-direction: column;
    width: 10%;
}
.side-image {
    max-width: 100%;
    margin-bottom: 5px;
}

#zoomedImage {
    display: inline-block;
    margin-left: 5px;
    width: 80%;
}